.pio
.DS_Store
.vscode
pcb/*.bak
*secret*
data/*
src/version.h
node_modules
*.gcode
*.gbr
*.drl
test/test_engine_ble/run
test/test_performance/test_performance
*.sublime-project
*.sublime-workspace
a.out
*-backups
*-cnc
*.gbrjob
*.lck
\#auto_saved_files\#
_autosave**
simulator/spiffs
dist*
fp-info-cache

